// This is the project stylesheet
// Base
@import 'css/reset';
@import 'css/animations';
@import 'css/grid';

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

//Fonts 
@import url('https://fonts.googleapis.com/css2?family=Sansita');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

//Typo 
$primary-type: 'Sansita', serif;
$secondary-type: 'Montserrat', sans-serif;

// Colors
$background-color: rgba(232, 220, 211, 1);
$primary-color: rgba(24, 72, 56, 1);
$secondary-color:#ED7817;

// Greyscale
$primary-grey: #363636;
$primary-white: #fafafa;

.ico {
    max-width: 25px;
    max-height: 25px;
}

// IGQVJYMVdta2lySkU3MF9xMERMZAzVDcTZAmT1dYYlJqOFd0Ym53U2dUbWVES2tDeFZA5el90VWFnN3IwMExxUnBRVzBGQXNkdFhIVWhNVl96ZAW04aXQ1NmhoQUt6NDFOcDY5R0t1NjRnSV9fZA1l6dWUwTgZDZD